<!-- Footer -->
		<footer>
			<!-- Footer Links -->
			<div class="footer bg-primary">
			  <div class="columns">
					  <div class="column is-4 is-offset-1">
				      <p class="left title is-5 is-spaced">Company & Team</p>
						  <div class="left title is-6">
					    	<a href="https://cryptocallback.com/about" target="_self" class="color-white hover-highlight slim disabledd">About</a>
					    	<a href="https://cryptocallback.com/donate" target="_self" class="color-white hover-highlight slim disabledd">Donate</a>
					    	<a href="https://cryptocallback.com/news" target="_self" class="color-white hover-highlight slim disabledd">News & Blog</a>
					    	<a href="https://cryptocallback.com/contact" target="_self" class="color-white hover-highlight slim disabledd">Contact Us</a>
					    </div>
				    </div>
				    <div class="column is-4">
				      <p class="left title is-5 is-spaced">Help & Support</p>
				    	<div class="left title is-6">
					    	<a href="https://cryptocallback.com/faq" target="_self" class="color-white hover-highlight slim disabledd">FAQ</a>
					    	<a href="https://cryptocallback.com/how-it-works" target="_self" class="color-white hover-highlight slim disabledd">How it works</a>
					    	<a href="https://cryptocallback.com/resources" target="_self" class="color-white hover-highlight slim disabledd">Tools & Resources</a>
					    	<a href="https://cryptocallback.com/docs" target="_self" class="color-white hover-highlight slim disabledd">API for developers</a>
				    	</div>
				    </div>
				    <div class="column is-4">
				      <p class="left title is-5 is-spaced">Follow Us</p>
				      <div class="left title is-6 social">
					    	<a href="https://plus.google.com/+CryptoCallback" target="_blank" class="color-white hover-highlight slim disabledd">
					    		<span class="icon">
					    			<i class="fa fa-google-plus"></i>
					    		</span>
					    		&nbsp;Google +
					    	</a>
					    	<a href="https://twitter.com/cryptocallback" target="_blank" class="color-white hover-highlight slim disabledd">
					    		<span class="icon">
					    			<i class="fa fa-twitter"></i>
					    		</span>
					    		&nbsp;Twitter
					    	</a>
					    	<a href="https://t.me/cryptocallback" target="_blank" class="color-white hover-highlight slim disabledd">
					    		<span class="icon">
					    			<i class="fa fa-send"></i>
					    		</span>
					    		&nbsp;Telegram
					    	</a>
					    	<a href="https://www.reddit.com/r/cryptocallback/" target="_blank"class="color-white hover-highlight slim disabledd"> 
					    		<span class="icon">
					    			<i class="fa fa-reddit-alien"></i>
					    		</span>
					    		&nbsp;Reddit
					    	</a>
				    	</div>
				    </div>
				  </div>>
			  </div>
			</div>
			<!-- Footer Base -->
			<div class="footer-base level container ">
			  <div class="level-left">
			    <a href="https://cryptocallback.com/terms-of-use" target="_blank" class="level-item hover-highlight">&nbsp;&nbsp;&nbsp;&nbsp;Terms of Use</a>
			    <a href="https://cryptocallback.com/privacy-policy" target="_blank" class="level-item hover-highlight">Privacy Policy</a>
			  </div>
			  <div class="level-right">
			    <p class="level-item">© CryptoCallback 2017</p>
			  </div>
			</div>
		</footer>

		<script src="assets/js/helpers.js"></script>
		<script src="assets/js/getAssets.js"></script>
		<script src="assets/js/assets.js"></script>
		<script src="assets/js/main.js"></script>
	</body>
</html>