<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>CryptoCallback</title>
		<link rel="icon" type="image/png" href="assets/img/icon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/bulma.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/style.css" />
	</head>
	<body>


		<!-- Menu -->
		<nav class="nav bg-primary">
			<div class="container">
			  <div class="nav-left">
			    <a href="https://cryptocallback.com" target="_self" class="nav-item">
			    	<div class="title is-4 color-white">
			    			CryptoCallback
			    	</div>
			    </a>
			  </div>
			  <span class="nav-toggle">
			    <span></span>
			    <span></span>
			    <span></span>
			  </span>
			  <div class="nav-menu nav-right">
			    <a href="https://cryptocallback.com/how-it-works" target="_self" class="nav-item color-white hover-highlight">
			      How It Works
			    </a>
			    <a href="https://cryptocallback.com/faq" target="_self" class="nav-item color-white hover-highlight">
			      FAQ
			    </a>
			    <a href="https://cryptocallback.com/resources" target="_self" class="nav-item color-white hover-highlight">
			      Tools
			    </a>
			    <div class="divider-vertical"></div>
			    <a href="https://cryptocallback.com/blank" target="_self" class="nav-item color-white hover-highlight">
			      Donate
			    </a>
			  </div>
			</div>  
		</nav>