.theme1, .theme2 {
	background-color: #070709 !important;
	color: #fff !important;
}
.theme3 {
	/*background-color: #252429 !important;*/
	background-color: #222 !important;
}
.content .column {
  /*box-shadow: none !important;*/
	/*border: 1px solid #fff;*/
	box-shadow: 0px 0px 5px 2px #888 !important;
  color: inherit !important;
}
.donate-divider {
	border: none;
	/*border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;*/
	box-shadow: 0px 0px 5px 2px #888 !important;
}