		<!-- Header -->
		<section class="hero">
		  <div class="hero-body">
		    <div class="container">
		      <h1 class="title is-1">
		        Create a free alert!
		      </h1>
		    </div>
		  </div>
		</section>



		<!-- Alert Form -->
		<section class="container alert-form center">
			<form id="alertForm">
				<div class="title is-3">Send a&nbsp;</div>
				<div class="field has-addons">
				  <p class="control">
				    <span class="select">
				      <select name="notification_type">
				        <option selected="selected">Push Notification</option>
				        <option>Text Message</option>
				        <option>Email</option>
				      </select>
				    </span>
				  </p>
				</div>
				<div class="title is-3">&nbsp;to&nbsp;</div>
				<div class="field has-addons">
				  <p class="control">
				    <input class="input" name="contact" type="text" placeholder="Phone Number">
				  </p>
				</div>
				<div class="title is-3">&nbsp;when the&nbsp;</div>
				<div class="field has-addons">
				  <p class="control">
				    <span class="select">
				      <select name="metric">
				        <option selected="selected">Price($USD)</option>
				        <option>Volume</option>
				        <option>Market Cap</option>
				      </select>
				    </span>
				  </p>
				</div>
				<div class="title is-3">&nbsp;of&nbsp;</div>
				<div class="field has-addons">
				  <p class="control">
				    <span class="select">
				      <select name="asset">
				        <option selected="selected">ETH</option>
				        <option>BTC</option>
				        <option>LTC</option>
				      </select>
				    </span>
				  </p>
				</div>
				<div class="title is-3">&nbsp;is&nbsp;</div>
				<div class="field has-addons">
				  <p class="control">
				    <span class="select">
				      <select name="direction">
				        <option selected="selected">Above</option>
				        <option>Below</option>
				      </select>
				    </span>
				  </p>
				</div>
				<div class="title is-3">&nbsp;a value of&nbsp;</div>
				<div class="field has-addons">
				  <p class="control">
				    <input class="input" name="value" type="text" placeholder="$1000">
				  </p>
				</div>
				<div class="title is-3">.</div>
				
				<p>You will receive a <strong><em class="notification-type">push notification</em></strong> sent to <strong><em class="contact">973-768-4048</em></strong> when the <strong><em class="metric">price</em></strong> of <strong><em class="asset">ETH</em></strong> is <strong><em class="direction">above</em></strong> a value of <strong><em class="value">$1000</em></strong></p><br>

				<div class="field is-horizontal">
				  <div class="field-body">
				    <div class="field">
				      <div class="control center">
				        <input id="submit-btn" type="submit" class="button is-primary" value="Submit Alert"/>
				      </div>
				    </div>
				  </div>
				</div>
			</form>
		</section>




		<!-- Divider -->
		<section class="level donate-divider">
		  <div class="level-item has-text-centered">
		  	<div class="columns1">
			    <div class="column1 1is-half">
			    	Please <a href="https://cryptocallback.com/donate" target="_self">&nbsp;donate&nbsp;</a> to help support this project and the development of additional tools and resources so we may continue to offer this free service.
		    	</div>
		    </div>
		  </div>
		</section>